@media (max-width: 1321px) {

    /* popular guitars section */

    .section_popular {
        padding-inline: 32px 0px;
    }

    .cards_container {
        overflow-x: scroll;
        padding-inline: 0 32px;
    }

    .popular.card {
        flex: 1 0 289px;
    }
}


@media (max-width: 1284px) {

    /* guitars catalog container */
    .filter_container {
        padding-inline: 45px;
    }

    .catalog.card:nth-last-child(-n+4) {
        display: none;
    }
}

@media (max-width: 1025px) {

    /* header */
    .burger_icon {
        display: block;
    }

    .header_nav {
        display: none;
    }

    /* burger menu */
    .burger_menu {
        display: flex;
        flex-direction: column;
        padding: 16px;
        width: 200px;
        row-gap: 8px;
        background: var(--main-light-color);
        position: fixed;
        top: 98px;
        left: -100%;
        transition: .5s ease-in-out;
    }

    .show_menu {
        left: 0;
    }

    .hide_icon {
        display: none;
    }

    .show_icon {
        display: block;
    }

    .burger_menu_list_item_link {
        color: var(--orange-color);
        font-family: var(--font);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        transition: all .3s ease-in;
    }

    .burger_menu_list_item_link:hover {
        letter-spacing: 1px;
        font-weight: 600;
        text-shadow: 3px 3px 5px var(--card-bg-color);

    }

}

@media (max-width: 966px) {

    /* guitars catalog container */
    .guitars_catalog_container {
        padding-block: 48px;
    }

    .filter_container {
        padding-inline: 32px;
    }

    .catalog.card:nth-last-child(-n+8) {
        display: none;
    }

}


@media (max-width: 900px) {

    /* footer */
    .footer_lists_container {
        column-gap: 149px;
    }
}


@media (max-width: 875px) {

    /* section types */

    .types_img_container {
        padding-block: 48px;
    }

    .img_wrapper {
        width: 330px;
    }

    /* popular guitars section */
    .section_popular {
        padding-block: 48px;
    }

    /* contact container */
    .contact_container {
        padding-inline: 0;
        justify-content: center;

    }


}