@media (max-width: 1439px) {

    /* guitars catalog container */
    .guitars_catalog_container {
        padding-inline: 45px;
    }

}

@media (max-width: 1341px) {

    /* guitars catalog container */
    .catalog.card:nth-last-child(-n+4) {
        display: none;
    }

}


@media (max-width: 1221px) {

    /* popular guitars section */

    .section_popular {
        padding-inline: 32px 0px;
    }

    .cards_container {
        overflow-x: scroll;
        padding-inline: 0 32px;
    }

    .popular.card {
        flex: 1 0 289px;
    }
}


@media (max-width: 1025px) {

    /* header */
    .burger_icon_link {
        display: block;
    }

    .header_nav {
        display: none;
    }

    /* guitars catalog container */
    .guitars_catalog_container {
        padding-block: 48px;
    }

    .catalog.card:nth-last-child(-n+8) {
        display: none;
    }

}


@media (max-width: 900px) {

    /* home footer */
    .footer_lists_container {
        column-gap: 149px;
    }
}


@media (max-width: 875px) {

    /* section types */

    .types_img_container {
        padding-block: 48px;
    }

    .img_wrapper {
        width: 330px;
    }

    /* popular guitars section */
    .section_popular {
        padding-block: 48px;
    }

    /* contact container */
    .contact_container {
        padding: 48px 64px;
        justify-content: center;

    }
}