@media (max-width: 450px) {

    /* header */
    header {
        padding: 28px 8px;
    }

    .logo_img {
        width: 40px;
        height: 40px;
    }

    .header_icons {
        column-gap: 16px;
    }

    .header_icons_img {
        width: 32px;
        height: 32px;
    }

    /* hero section */

    .hero_content {
        column-gap: 16px;
    }

    .hero_content_txt {
        font-size: 24px;
        line-height: 32px;
    }

    /* popular guitars section */

    .section_popular {
        padding-block: 32px;
    }

    .section_popular {
        padding-inline: 8px 0px;
    }


    .section_popular_title {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 40px;
    }

    .cards_container {
        padding-inline: 0 8px;
    }

    .pages_container {
        column-gap: 45px;
    }

    .page_btn {
        display: none;
    }

    .page_btn_mobile {
        display: block;
        border: none;
        display: flex;
        align-items: center;
        padding: 8px 14px;
        border-radius: 8px;
    }
}

@media (max-width: 376px) {

    /* section types */
    .upper_section,
    .lower_section {
        column-gap: 19px;
    }

    .img_wrapper {
        width: 120px;
        height: 110px;
    }

    .img_wrapper h3 {
        font-size: 14px;
        line-height: 22px;
    }

    /* guitars catalog container */
    .guitars_catalog_container {
        padding-block: 32px;
    }

    .filter_container {
        padding-inline: 16px;
    }

    .catalog.card .card_img {
        width: 343px;
    }

    /* mail_article */

    .mail_article_title {
        font-size: 18px;
        line-height: 26px;
    }


    .email_input_btn {
        padding: 15px 7px 14px;
        font-size: 14px;
        font-weight: 700;
        line-height: 19px;
    }
}


@media (max-width: 366px) {

    .catalog.card,
    .catalog.card .card_img {
        width: 100%;
    }

}