@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url(variables.css);


button,
a {
    cursor: pointer;
}

/* container */
.container {
    width: min(100%, 1440px);
    margin: auto;
    padding-top: 96px;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 94px;
    background: var(--main-dark-color);

    position: fixed;
    max-width: inherit;
    width: inherit;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    z-index: 1;

}

.header_list {
    display: flex;
    column-gap: 72px;
}

.burger_icon_link {
    display: none;
}

.header_list_item_link {
    color: var(--secondary-txt-color);
    font-family: var(--font);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;

}



.header_icons {
    display: flex;
    column-gap: 32px;
    align-items: center;
}

.header_icons_btn {
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
}


/* hero section */

.hero {
    height: 480px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(../images/hero.png), lightgray 50% / cover no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
}

.hero_content {
    margin-top: 72px;
    display: flex;
    column-gap: 24px;
    height: 36px;
    align-items: center;
}

.hero_content_txt {
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    font-family: var(--font);
    color: #fff;
}

.hero_content_txt span {
    color: var(--main-light-color);
}

.hero_content_btn {
    border: none;
    border-radius: 4px;
    background: #C46A2B;
    display: flex;
    width: 36px;
    padding: 0px 6px;
    justify-content: center;
    align-items: center;
}

/* section types */

.section_types {
    background: var(--main-dark-color);
}

.types_img_container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
    padding-block: 96px;
}

.upper_section,
.lower_section {
    display: flex;
    column-gap: 20px;
}

.img_wrapper {
    width: 404px;
    height: 240px;
    padding: 16px;
}

.img_wrapper h3 {
    color: var(--secondary-light-color);
    font-family: var(--font);
    font-size: 24px;
    font-weight: 700;
    line-height: 37px;
}


.img_wrapper.classical {
    background: url(../images/rec1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.img_wrapper.acoustic {
    background: url(../images/rec2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.img_wrapper.electric {
    background: url(../images/rec3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.img_wrapper.base {
    background: url(../images/rec4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


/* popular guitars section */

.section_popular {
    background: var(--secondary-dark-color);
    padding: 96px 94px;
}

.section_popular_title {
    text-align: center;
    margin-bottom: 64px;
    color: var(--main-light-color);
    font-family: var(--font);
    font-size: 36px;
    font-weight: 700;
    line-height: 52px;
    position: relative;
}

.section_popular_title::after {
    content: "";
    width: 187.267px;
    height: 2px;
    background: var(--main-light-color);
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cards_container {
    display: flex;
    column-gap: 20px;
}

.card {
    border: 1px solid var(--main-light-color);
    background: var(--card-bg-color);
    padding: 8px 8px 16px 8px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}


.card_img {
    width: 100%;
    height: 290px;
    object-fit: cover;
}


.card_txt {
    color: var(--card-txt-color);
    font-family: var(--font);
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
}

.review_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stars_wrapper {
    display: flex;
    column-gap: 8px;
    align-items: center;
}

.stars_wrapper p {
    margin-left: 4px;
    color: var(--secondary-txt-color);
    font-family: var(--font);
    font-size: 12px;
    line-height: 15px;
}

.fa-solid.fa-star {
    width: 16px;
    height: 16px;
    color: #cc7438;
}

.price_wrapper {
    display: flex;
    column-gap: 4px;
}

.price {
    color: var(--main-light-color);
    font-family: var(--font);
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}

/* mail_article */

.mail_article {
    background: linear-gradient(0deg, rgba(26, 26, 26, 0.40) 0%, rgba(26, 26, 26, 0.40) 100%), url(../images/mailing_cover.png), lightgray 50% / cover no-repeat;
    background-position: center;
    padding-block: 106px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 40px;

}

.mail_article_title {
    color: var(--main-light-color);
    font-family: var(--font);
    font-size: 32px;
    font-weight: 700;
    line-height: 19px;
}

.sub_form {
    position: relative;
    display: flex;
    align-items: center;
}

.email_input {
    outline: none;
    width: 480px;
    padding: 15px 0 14px 8px;
    color: var(--secondary-txt-color);
    font-family: var(--font);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    border-radius: 8px;
    border: 1px solid var(--secondary-light-color);
    background: rgba(44, 66, 70, 0.80);
}

.email_input_btn {
    padding: 15px 14px 14px 14px;
    border-radius: 0px 8px 8px 0px;
    background: var(--main-light-color);
    color: #FFF;
    font-family: var(--font);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    border: none;
    position: absolute;
    right: 0;

}

/* footer */

.home_footer {
    background: var(--card-bg-color);
    padding-block: 48px 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 64px;

}

.footer_lists_container {
    display: flex;
    justify-content: center;
    column-gap: 223px;
}

.footer_list_wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 28px;
}

.footer_list_title {
    color: var(--card-txt-color);
    font-family: var(--font);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    position: relative;
}

.footer_list_title::after {
    content: "";
    width: 80px;
    height: 2px;
    background: var(--card-txt-color);
    position: absolute;
    bottom: -4px;
    left: 0;

}

.footer_list {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.footer_list_item_link {
    color: var(--card-txt-color);
    font-family: var(--font);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.footer_list_item.links {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
}

.fa-brands {
    font-size: 32px;
    color: var(--card-txt-color);
}

.rights {
    display: flex;
    align-items: center;
    column-gap: 4px;
}

.rights span {
    color: var(--card-txt-color);
    font-family: var(--font);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}