@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url(variables.css);


button:hover,
a:hover {
    cursor: pointer;
}

input,
textarea {
    outline: none;
}

/* container */
.container {
    width: min(100%, 1440px);
    margin: auto;
    padding-top: 98px;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 94px;
    background: var(--main-dark-color);
    position: fixed;
    max-width: inherit;
    width: inherit;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    z-index: 2;

}

.header_list {
    display: flex;
    column-gap: 72px;
}

.burger_icon,
.burger_menu,
.close_icon {
    display: none;
}

.burger_icon:hover,
.close_icon:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 5px var(--main-light-color));
}

.header_list_item_link {
    color: var(--secondary-txt-color);
    font-family: var(--font);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    position: relative;
    transition: all .5s ease-out;
}

/* header links hover */
.header_list_item_link::after {
    content: '';
    position: absolute;
    width: 0%;
    bottom: -8px;
    left: 0;
    border-bottom: 3px solid var(--main-light-color);
    transition: 0.5s ease-out;
}

.header_list_item_link:hover::after {
    width: 100%;
    border-bottom-color: 3px solid var(--card-txt-color);
}

.header_list_item_link:hover {
    color: var(--card-txt-color);
    text-shadow: 1px 1px 1px var(--main-light-color);

}

/* logo img hover  */

.logo_img {
    transition: filter 0.5s ease-out;
}

.logo_img:hover {
    filter: drop-shadow(5px 5px 2px var(--main-light-color));

}


.header_icons {
    display: flex;
    column-gap: 32px;
    align-items: center;
}

.header_icons_btn {
    background: transparent;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    border-radius: 8px;
    position: relative;
    transition: box-shadow .5s ease-in-out;
}

/* header icons btn hover */

.header_icons_btn:hover {
    box-shadow: var(--main-light-color) 5px 5px,
        rgba(5, 188, 202, 0.3) 10px 10px;
}


/* hero section */

.hero {
    height: 480px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(../images/home/hero.png), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

.hero_content {
    margin-top: 72px;
    display: flex;
    column-gap: 24px;
    height: 36px;
    align-items: center;
}

.hero_content_txt {
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    font-family: var(--font);
    color: #fff;
}

.hero_content_txt span {
    color: var(--main-light-color);
}

.hero_content_btn {
    border: none;
    border-radius: 4px;
    background: var(--orange-color);
    display: flex;
    justify-content: center;
    width: 36px;
    padding: 0px 6px;
    transition: all .3s ease-in-out;

}

.hero_content_btn:hover {
    padding: 0px 2px;
    justify-content: flex-end;
}



/* section types */

.section_types {
    background: var(--main-dark-color);
}

.types_img_container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
    padding-block: 96px;
}

.upper_section,
.lower_section {
    display: flex;
    column-gap: 20px;
}

.img_wrapper {
    width: 404px;
    height: 240px;
    padding: 16px;
}

.img_wrapper h3 {
    color: var(--secondary-light-color);
    font-family: var(--font);
    font-size: 24px;
    font-weight: 700;
    line-height: 37px;
}

.img_wrapper.classical {
    background: url(../images/home/rec1.png);
}

.img_wrapper.acoustic {
    background: url(../images/home/rec2.png);
}

.img_wrapper.electric {
    background: url(../images/home/rec3.png);

}

.img_wrapper.base {
    background: url(../images/home/rec4.png);

}


.img_wrapper.classical,
.img_wrapper.acoustic,
.img_wrapper.electric,
.img_wrapper.base {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




/* popular guitars section */

.section_popular {
    background: var(--secondary-dark-color);
    padding: 96px 94px;
}

.section_popular_title {
    text-align: center;
    margin-bottom: 64px;
    color: var(--main-light-color);
    font-family: var(--font);
    font-size: 36px;
    font-weight: 700;
    line-height: 52px;
    position: relative;
}

.section_popular_title::after {
    content: "";
    width: 187.267px;
    height: 2px;
    background: var(--main-light-color);
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cards_container {
    display: flex;
    column-gap: 20px;
}

.card {
    border: 1px solid var(--main-light-color);
    background: var(--card-bg-color);
    padding: 8px 8px 16px 8px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    transition: box-shadow .4s ease-in-out;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0px 0px 8px 4px rgba(5, 188, 202, 0.80);
}


.card_img {
    width: 100%;
    height: 290px;
    object-fit: cover;
}


.card_txt {
    color: var(--card-txt-color);
    font-family: var(--font);
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
}

.review_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stars_wrapper {
    display: flex;
    column-gap: 8px;
    align-items: center;
}

.stars_wrapper p {
    margin-left: 4px;
    color: var(--secondary-txt-color);
    font-family: var(--font);
    font-size: 12px;
    line-height: 15px;
}

.fa-solid.fa-star {
    font-size: 16px;
    color: var(--orange-color);
}

.price_wrapper {
    display: flex;
    column-gap: 4px;
}

.price {
    color: var(--main-light-color);
    font-family: var(--font);
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}

/* mail_article */

.mail_article {
    background: linear-gradient(0deg, rgba(26, 26, 26, 0.40) 0%, rgba(26, 26, 26, 0.40) 100%), url(../images/home/mailing_cover.png), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-block: 106px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 40px;

}

.mail_article_title {
    color: var(--main-light-color);
    font-family: var(--font);
    font-size: 32px;
    font-weight: 700;
    line-height: 19px;
}

.sub_form {
    position: relative;
    display: flex;
    align-items: center;
}

.email_input {
    width: 480px;
    padding: 15px 0 14px 8px;
    color: var(--secondary-txt-color);
    font-family: var(--font);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    border-radius: 8px;
    border: 1px solid var(--secondary-light-color);
    background: rgba(44, 66, 70, 0.80);
}

.email_input_btn {
    padding: 15px 14px 14px 14px;
    border-radius: 0px 8px 8px 0px;
    background: var(--main-light-color);
    color: #FFF;
    font-family: var(--font);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    border: none;
    position: absolute;
    right: 0;
    box-shadow: inset 0 0 0 0 var(--secondary-light-color);
    transition: color .3s ease-in-out, box-shadow .5s ease-in-out, letter-spacing .5s ease-in-out;
}

.email_input_btn:hover {
    color: var(--main-light-color);
    box-shadow: inset 128px 0 0 0 var(--secondary-light-color);
    letter-spacing: 1px;
}

/* footer */

.footer {
    background: var(--card-bg-color);
    padding-block: 48px 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 64px;

}

.footer_lists_container {
    display: flex;
    justify-content: center;
    column-gap: 223px;
}

.footer_list_wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 28px;
}

.footer_list_title {
    color: var(--card-txt-color);
    font-family: var(--font);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    position: relative;
}

.footer_list_title::after {
    content: "";
    width: 80px;
    height: 2px;
    background: var(--card-txt-color);
    position: absolute;
    bottom: -4px;
    left: 0;

}

.footer_list {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}




.footer_list_item_link {
    color: var(--card-txt-color);
    font-family: var(--font);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    transition: text-shadow .3s ease-in-out;
}

.footer_list_item_link:hover {
    text-shadow: 5px 5px var(--secondary-dark-color);
}


.footer_list_item.socials {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
}


.fa-brands {
    font-size: 32px;
    color: var(--card-txt-color);
    transition: transform .3s ease-in-out, text-shadow .3s ease-in-out;
}

.fa-brands:hover {
    transform: scale(1.1);
    text-shadow: 5px 5px var(--secondary-dark-color);
}

.rights {
    display: flex;
    align-items: center;
    column-gap: 4px;
}

.rights span {
    color: var(--card-txt-color);
    font-family: var(--font);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}


/* catallog page types section */

.types_section {
    background: var(--secondary-dark-color);
    padding-block: 36px;
    border-top: 2px solid var(--main-light-color);
    display: flex;
    justify-content: center;
}

.types_list {
    display: flex;
}

.types_list_item_btn {
    position: relative;
    background: transparent;
    border: none;
    padding: 0;
    color: #FFF;
    font-family: var(--font);
    font-size: 24px;
    font-weight: 700;
    line-height: 37px;
    padding: 18px 24px;
    border: 1px solid var(--main-light-color);
    transition: all .3s ease-in;

}

.types_list_item_btn:hover,
.types_list_item_btn:focus {
    background: var(--secondary-txt-color);
    color: var(--card-bg-color);
}



/* guitars catalog container */

.guitars_catalog_container {
    background: var(--main-dark-color);
    display: flex;
    flex-direction: column;
    row-gap: 64px;
    padding-block: 96px;
}

.filter_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 94px;
}

.filter_txt {
    color: var(--card-txt-color);
    font-family: var(--font);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

.filter_btn {
    background: transparent;
    border: none;
    padding: 0;
    transition: all .3s linear;
}

.filter_btn:hover,
.sort_btn:hover,
.sort_btn_mobile:hover {
    transform: scale(1.05);
}

.sort_wrapper,
.filter_wrapper {
    display: flex;
    align-items: center;
}

.sort_wrapper {
    column-gap: 32px;
}

.filter_wrapper {
    column-gap: 16px;
}

.sort_btn {
    border: none;
    border-radius: 4px;
    background: var(--secondary-txt-color);
    padding: 4px 8px;
    display: flex;
    align-items: center;
    gap: 33px;
    transition: all .3s linear;
}

.sort_btn span {
    color: var(--card-bg-color);
    font-family: var(--font);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.sort_btn_mobile {
    display: none;
    transition: all .3s linear;
}

.guitar_cards_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 40px 20px;
    padding-inline: 16px;
}


.catalog.card {
    border: none;
    padding: 0;
    overflow: hidden;

}

.catalog.card .card_img {
    width: 298px;
    height: 298px;
    transition: all .4s ease-in-out;
}

.catalog.card:hover .card_img {
    transform: scale(1.1);
}

.catalog.card .card_txt {
    padding-inline: 8px;
}

.catalog.review_container {
    padding: 0 8px 16px 8px;
}

.pages_container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 48px;
}

.page_btn {
    border: none;
    display: flex;
    align-items: center;
    column-gap: 16px;
    padding: 8px;
    border-radius: 8px;
    color: var(--card-txt-color);
    font-family: var(--font);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    transition: all .3s ease-in-out;
}

.page_btn:hover {
    column-gap: 22px;
}

.page_btn_mobile {
    display: none;
}

.prev {
    background: var(--orange-color);
}

.next {
    background: var(--main-light-color);
}

.page_btn_txt {
    color: #FFF;
    font-family: var(--font);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

/* contact page contact container */

.contact_container {
    background: url(../images/contact_cover.png), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    padding: 96px 94px 115px 0;
    display: flex;
    justify-content: flex-end;

}

.contact_wrapper {
    width: 616px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.contact_title {
    color: #FFF;
    font-family: var(--font);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

.contact_info {
    padding: 35px 40px;
    background: var(--card-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact_info_content {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.contact_info_content_link,
.map_pin_logo_link {
    transition: all .3s ease-in-out;
}

.contact_info_content_link:hover {
    text-shadow: 5px 5px var(--secondary-dark-color);
}

.map_pin_logo_link:hover {
    filter: drop-shadow(5px 5px var(--secondary-dark-color));
}

.contact_info_content_link {
    display: flex;
    column-gap: 16px;
    align-items: center;
}

.contact_info_content_link i {
    font-size: 24px;
    color: var(--card-txt-color);
}

.contact_info_content_link span {
    color: var(--card-txt-color);
    font-family: var(--font);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.form_container {
    display: flex;
    gap: 40px;
}

.contact_form {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.main_info_inputs {
    display: flex;
    column-gap: 8px;
}

.contact_form_input,
.contact_form_textarea {
    background: var(--card-bg-color);
    color: var(--secondary-txt-color);
    font-family: var(--font);
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    border: none;
    padding: 6px 8px;
}

.contact_form_input {
    width: 50%;
}

.contact_form_textarea {
    resize: none;
    height: 103px;
    margin-bottom: 8px;
}

.contact_form_btn {
    padding-block: 8px;
    border: none;
    background: var(--orange-color);
    position: relative;
    color: #FFF;
    font-family: var(--font);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

}

.contact_form_btn span {
    position: relative;

}

.contact_form_btn span::after {
    content: "SEND MESSAGE";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    left: 0%;
}

.contact_form_btn::after,
.contact_form_btn::before {
    content: "";
    height: 100%;
    width: 0%;
    position: absolute;
    top: 0;
    z-index: 0;
    background: #000;
    transition: all .5s ease-in-out;
}

.contact_form_btn::after {
    left: 0;
}

.contact_form_btn::before {
    right: 0;
}


.contact_form_btn:hover::before,
.contact_form_btn:hover::after {
    width: 50%;
    border-top: 1px solid var(--orange-color);
    border-bottom: 1px solid var(--orange-color);

}


.map_container {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    align-items: flex-end;
    overflow: hidden;
}

iframe {
    width: 100%;
    transition: all .5s linear;
}

iframe:hover {
    transform: scale(1.2);
}

.contact {
    color: var(--main-light-color);
}