@media (max-width: 745px) {

    /* header */
    header {
        padding-inline: 32px;
    }

    /* hero section */

    .hero {
        height: 400px;
    }

    .hero_content {
        margin-top: 32px;

    }

    /* guitars catalog container */

    .filter {
        display: none;
    }

    .sort_btn {
        display: none;
    }

    .sort_btn_mobile {
        display: block;
        border: none;
        border-radius: 4px;
        background: var(--secondary-txt-color);
        display: flex;
        padding: 4px 6px;
        justify-content: center;
        align-items: center;
    }


    .guitars_catalog_container {
        padding: 32px 16px;
        row-gap: 40px;
    }

    .catalog.card:nth-last-child(-n+8) {
        display: none;
    }
}

@media (max-width: 700px) {

    /* section types */

    .types_img_container {
        padding-block: 32px;
    }

    .img_wrapper {
        width: 170px;
        height: 160px;
        padding: 8px;
    }



    .img_wrapper h3 {
        font-size: 16px;
        line-height: 24px;
    }

    /* home footer */

    .home_footer {
        padding-block: 32px;
        row-gap: 48px;
    }

    .footer_lists_container {
        flex-direction: column;
        row-gap: 40px;
    }

    .footer_list_wrapper {
        align-items: center;
    }

    .footer_list {
        align-items: center;
    }


}

@media (max-width: 647px) {
     /* guitars catalog container */
     .catalog.card:nth-last-child(-n+12) {
        display: none;
    }
}

@media (max-width: 550px) {

    /* mail_article */

    .mail_article {
        padding-block: 32px;
        row-gap: 24px;

    }

    .mail_article_title {
        font-size: 24px;
        line-height: 32px;
    }

    .email_input {
        width: 320px;

    }


    /* catalog section */

    .section_catalog {
        padding-block: 16px;
    }


    .catalog_list_item {
        padding: 8px;
    }

    .catalog_list_item_link {
        font-size: 16px;
        line-height: 24px;
    }
}