@media (max-width: 745px) {

    /* header */
    header {
        padding-inline: 32px;
    }

    /* hero section */

    .hero {
        height: 400px;
    }

    .hero_content {
        margin-top: 32px;

    }

    /* contact container */
    .contact_container {
        padding: 48px 64px;
    }

}

@media (max-width: 700px) {

    /* section types */

    .types_img_container {
        padding-block: 32px;
    }

    .img_wrapper {
        width: 170px;
        height: 160px;
        padding: 8px;
    }

    .img_wrapper h3 {
        font-size: 16px;
        line-height: 24px;
    }

    /* footer */

    .footer {
        padding-block: 32px;
        row-gap: 48px;
    }

    .footer_lists_container {
        flex-direction: column;
        row-gap: 40px;
    }

    .footer_list_wrapper {
        align-items: center;
    }

    .footer_list {
        align-items: center;
    }


}

@media (max-width: 648px) {

    /* guitars catalog container */
    .guitars_catalog_container {
        padding-block: 32px;
        row-gap: 40px;
    }

    .catalog.card:nth-last-child(-n+12) {
        display: none;
    }

    .catalog.card .card_img {
        width: 343px;
    }

    .filter {
        display: none;
    }

    .sort_btn {
        display: none;
    }

    .sort_btn_mobile {
        display: block;
        border: none;
        border-radius: 4px;
        background: var(--secondary-txt-color);
        display: flex;
        padding: 4px 6px;
        justify-content: center;
        align-items: center;
    }


    /* contact container */

    .contact_container {
        padding: 32px 40px;

    }

    .contact_wrapper {
        row-gap: 33px;
    }

    .contact_title {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 8px;
    }

    .hidden {
        display: none;
    }

    .contact_info {
        padding: 16px;
        align-items: center;
        justify-content: center;
        column-gap: 24px;
    }

    .map_pin_logo_img {
        width: 24px;
        height: 24px;
    }

    .contact_info_content {
        flex-direction: row;
        column-gap: 24px;
    }


    .form_container {
        flex-direction: column;
    }


    .main_info_inputs {
        column-gap: 13px;
    }

    .map_container {
        row-gap: 32px;
        align-items: center;
    }
}

@media (max-width: 550px) {

    /* mail_article */

    .mail_article {
        padding-block: 32px;
        row-gap: 24px;
    }

    .sub_form {
        width: 85%;
    }

    .mail_article_title {
        font-size: 24px;
        line-height: 32px;
    }



    /* types section */

    .types_section {
        padding-block: 16px;
    }

    .types_list_item {
        padding: 8px;
    }

    .types_list_item_btn {
        font-size: 16px;
        line-height: 24px;
    }
}